.productListContainer {
  margin-left: 5%;
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

tr {
  display: flex;
}
th,
td {
  display: flex;
  padding: 6px;
  border: 1px solid #ccc;
  min-width: 65px;
}

.containerDashboard {
  width: 70%;
  height: 80vh;
  margin: 2%;
  margin-top: 6%;
  background-color: #f8f9fd;
  padding: 2rem;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.ContainerEditStyle {
  margin: 5%;
  width: 80%;
  height: 60vh;
}
